@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@200&family=Pacifico&family=Roboto+Slab&display=swap');

body{
  font-family: Inter;
  margin-right: 300px;
  margin-left: 300px;
}

h2{
  font-size: 20pt;
  text-align: center;
}
h3{
  text-align: center;
}

h4{
  text-align: center;
}

.button{
  text-align: center;
}




/* ________________________________________________________________________ */
/* Stile für das Menü-Container */
.menu-container {
  display: flex;
  justify-content: center;
}

/* Stile für das horizontale Menü */
.menu {

  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  display: flex;
}

.menu li {

  padding: 10px 200px;
  display: inline; /* Hier setzen wir 'display: inline;' für die Listenelemente, um sie nebeneinander anzuzeigen */
}

/* Stile für die Links im Menü */
.menu a {
  text-decoration: none;
  color: #fff;
}

/* Stile für die Links beim Hover */
.menu a:hover {
  text-decoration: underline;
}